* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --color: gold;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, black, #1a1a1a, #333333);
}

.container {
    width: 320px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.timer-container {
    display: flex;
    align-items: flex-end;
}

.timer {
    width: 300px;
    height: 300px;
    border: thin solid var(--color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5em;
    font-family: sans-serif;
    position: relative;
}
.timer::before{
    position: absolute;
    content: '';
    border-top: 8px solid var(--color);
    height: 100%;
    width: 100%;
    border-radius: 50%;
    animation: spin 3s linear infinite;
}
@keyframes spin {
    to{
        transform: rotate(360deg);
    }
}

.ms-display {
    height: 30px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: thin solid var(--color);
    border-radius: 10px;
    margin-left: -25px;
    color: white;
    font-family: sans-serif;
}

.timer-control {
    display: flex;
    align-items: center;
    height: 40px;
    border: thin solid white;
    padding: 5px 10px;
    gap: 30px;
    border-radius: 10px;
}

.timer-control button {
    background: none;
    border: none;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.timer-control button svg{
    width: 20px;
    height: 20px;
}

.timer-control button.show{
    display: flex;
}